ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #302f2f
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: arial;
	font-weight: 700;
}

li a:hover {
	background-color: #050505;
}

body {
	background: #2c2c2c;
	color: #fff
}

.jhbewkj {
	color: #fff;
	font-family: arial;
	font-weight: 900;
	text-align: center;
	font-size: 58px;
}

.jhtlke {
	color: #fff;
	font-family: arial;
	text-align: center;
	font-size: 20px;
}
